@model BPL_Project.Models.Prof_Convidado

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-style-10">
        <h2>Professor Convidado</h2>
        <h4 class="text-danger">@ViewData["Message"]</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prof_Conv_Id)
        <div class="section"><span>1</span>Professor</div>
        <div class="inner-wrap">
            @Html.DropDownList("Prof_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Prof_Id, "", new { @class = "text-danger" })
        </div>
        <div class="section"><span>2</span>Nível de permissão</div>
        <div class="inner-wrap">
            @Html.DropDownList("Permissao", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Permissao, "", new { @class = "text-danger" })
        </div>
        <div class="button-section">
            <input type="submit" value="Alterar" class="btn btn-default w3-blue w3-hover-blue w3-left" />
            <input type="button" class="btn btn-default w3-red w3-hover-red w3-right" style="border-color:#b94a48!important" value="Cancelar" onClick="history.go(-1)">
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
